.ant-card-head {
	font-size: 18px !important;
}

.ant-menu {
	.ant-menu-item,
	.ant-menu-submenu-title {
		.anticon {
			font-size: 22px;
		}
	}
	.ant-menu-item-content {
		display: flex;
		align-items: center;
	}
}
.ant-layout-sider {
	.ant-layout-sider-children {
		.ant-menu-inline-collapsed {
			.ant-menu-item,
			.ant-menu-submenu-title {
				padding: 0 28px !important;
				.anticon {
					font-size: 22px !important;
				}
			}
		}
	}
}

.ant-table-wrapper.ovf-auto {
	overflow-x: auto;
}

.ant-form-item--lh32 {
	.ant-form-item-control {
		line-height: 32px;
	}
}

.upload-wallet-container {
	.ant-upload.ant-upload-select {
		display: block;
	}
}

// TODO: extract styles
.registration-modal {
	.ant-modal-custom-footer {
		margin: 0 -24px -24px -24px;
		padding: 10px 24px;
		text-align: right;
		background: transparent;
		border-top: 1px solid #e8e8e8;
		margin-top: 50px;
	}
	.ant-form-item {
		margin-bottom: 12px;
	}
}

.import-wallet-modal {
	width: 850px !important;
	.ant-modal-body {
		padding: 40px 60px;
	}
}

.create-wallet-modal {
	width: 600px !important;
	.ant-modal-body {
		padding: 40px 60px;
	}
}

@media (max-width: 991px) {
	.import-wallet-modal {
		width: calc(100vw - 16px) !important;
		.ant-modal-body {
			padding: 40px 30px;
		}
	}
}

@media (max-width: 767px) {
	.create-wallet-modal {
		width: calc(100vw - 16px) !important;
		.ant-modal-body {
			padding: 40px 30px;
		}
	}
}

@media (max-width: 575px) {
	.import-wallet-modal,
	.create-wallet-modal {
		.ant-modal-body {
			padding: 30px 15px;
		}
	}
}
