.ant-table-header::-webkit-scrollbar {
	background-color: transparent;
}

.exchange-form {
	.exchange-submit-button {
		margin-top: 1.7em;
	}
}

.exchange-tables {
	.ant-table-fixed-header .ant-table-scroll .ant-table-header {
		overflow-y: hidden;
	}
}

@media (max-width: 1200px) {
	.exchange-form {
		.form-divider {
			padding-top: 1.7em;
		}
	}

	.exchange-tables {
		.table-divider {
			padding-top: 3em;
		}
	}
}

@media (min-width: 576px) {
	.exchange-form {
		.asset-exchange-form-select-parent {
			padding-right: 1em;
			margin: 0%;
		}

		.asset-exchange-form-select-parent {
			.ant-form-item-control-wrapper {
				flex-grow: 1;
			}
		}

		.asset-exchange-amount-input-group {
			padding-top: 0.1em;
		}
	}
}

@media (max-width: 576px) {
	.exchange-form {
		.asset-exchange-form-input-parent {
			width: 100%;
		}

		.asset-exchange-form-select-parent {
			padding-right: 1em;
			width: 100%;
		}

		.asset-exchange-amount-input-group {
			width: 100%;
		}

		.asset-exchange-amount-input-group-form-item {
			flex-grow: 1;
		}

		.asset-exchange-amount-input-group-button {
			width: 100%;
		}
	}
}
