.ant-table-header::-webkit-scrollbar {
	background-color: transparent;
}

.exchange-form {
	.exchange-submit-button {
		margin-top: 1.7em;
	}
}

@media (max-width: 990px) {
	.exchange-form {
		.form-divider {
			padding-top: 1.7em;
		}

		.asset-exchange-select-form-item {
			background-color: aqua;
			width: 100%;
		}

		.asset-exchange-select {
			width: 100%;
		}
	}

	.exchange-tables {
		.table-divider {
			padding-top: 3em;
		}
	}
}
