.ant-table-header::-webkit-scrollbar {
	background-color: transparent;
}

.transactions-table {
	padding-top: 2em;
}

.exchange-form {
	.exchange-submit-button {
		margin-top: 1.7em;
		margin-left: 0.5em;
	}

	.asset-exchange-form-input-parent {
		width: 100%;
		margin-top: 0.23em;
		.ant-form-item-control-wrapper {
			flex-grow: 1;
		}
	}

	.asset-exchange-form-select-parent {
		margin-bottom: 0.5em;
		width: 100%;
	}

	.form-divider {
		padding-top: 1.7em;
	}
}

.exchange-tables {
	.ant-table-fixed-header .ant-table-scroll .ant-table-header {
		overflow-y: hidden;
	}
}

@media (min-width: 576px) {
	.exchange-form {
		.asset-exchange-form-select-parent {
			padding-right: 1em;
		}

		.asset-exchange-form-select-parent {
			.ant-form-item-control-wrapper {
				flex-grow: 1;
			}
		}

		.asset-exchange-amount-input-group {
			padding-top: 0.1em;
		}
	}
}
