.main-layout.ant-layout {
	min-height: 100vh;
}

.content-wrapper {
	margin: 58px 0 0 240px;
	transition: all 0.3s;
	&.collapsed {
		margin: 58px 0 0 80px;
	}
}

.content-wrapper-simplified {
	transition: all 0.3s;
}

.sidebar {
	overflow: auto;
	height: 100%;
	position: fixed !important;
	left: 0;
	padding-top: 120px;
	top: 0;
	z-index: 99;
}

@media (max-width: 575px) {
	.content-wrapper {
		margin: 58px 0 0 0;
		&.collapsed {
			margin: 58px 0 0 0;
		}
	}
}
