.registration-modal,
.wallet-unlock-modal,
.confirm-email-modal,
.add-settlement-modal,
.choose-performer-modal,
.reason-to-reject-modal {
	.ant-modal-custom-footer {
		margin: 0 -24px -24px -24px;
		padding: 10px 24px;
		text-align: right;
		background: transparent;
		border-top: 1px solid #e8e8e8;
		margin-top: 50px;
	}
	.ant-form-item {
		margin-bottom: 12px;
	}
}

.choose-performer-modal .ant-modal-custom-footer {
	@media (max-width: 450px) {
		text-align: initial;
		.send-to-all-performers-btn {
			margin-top: 6px;
		}
	}
}

.registration-modal {
	@media (min-width: 576px) {
		.ant-form-item-label {
			line-height: 24px;
		}
	}
}

.ant-tabs-content tbody {
	background: #ffffff;
}

.import-wallet-modal {
	width: 850px !important;
	.ant-modal-body {
		padding: 40px 60px;
	}
}

.assets-modal .ant-form-item-label {
	line-height: initial;
}

.create-wallet-modal {
	width: 600px !important;
	.ant-modal-body {
		padding: 40px 60px;
	}
}

.choose-performer-modal,
.admin__user-data-modal {
	width: 900px !important;
}

.modal-qrcode {
	.ant-modal-body {
		text-align: center;
	}
}

.detailed-balance-modal {
	max-width: 700px !important;
	width: auto !important;
}

@media (max-width: 991px) {
	.ant-modal {
		top: 30px !important;
	}

	.import-wallet-modal {
		width: calc(100vw - 16px) !important;
		.ant-modal-body {
			padding: 40px 30px;
		}
	}

	.choose-performer-modal,
	.admin__user-data-modal {
		width: calc(100vw - 16px) !important;
	}
}

@media (max-width: 767px) {
	.create-wallet-modal,
	.detailed-balance-modal {
		width: calc(100vw - 16px) !important;
		.ant-modal-body {
			padding: 40px 30px;
		}
	}
}

@media (max-width: 575px) {
	.import-wallet-modal,
	.create-wallet-modal {
		.ant-modal-body {
			padding: 30px 15px;
		}
	}
	.modal-qrcode {
		canvas {
			width: 128px !important;
			height: 128px !important;
		}
	}
}
